<div data-controller="slideshow" >
  <div data-slideshow-target="slide" class="slide" >
    <%= image_tag("slide_1.jpg", id: "slide-1" ) %>
    <div>Welcome, arash rasoulian to the best and most friendly community of travelers! </div>
  </div>
  <div data-slideshow-target="slide" >
    <%= image_tag("slide-2.png", id: "slide-2") %>
    <div>Here, you can rent an apartment or a room and have a wonderful experience </div>
  </div>
  <div data-slideshow-target="slide">
      <%= image_tag("slide-3.png", id: "slide-3") %>
      <div>during your journey, or rent out your own place and make some money 😉</div>
  </div>
  <div data-action="click->slideshow#prev" id="prev-button">
    <%= image_tag "chevron-compact-left", style:"height:80px;" %>
  </div>
  <div data-action="click->slideshow#next" id="next-button">
    <%= image_tag "chevron-compact-right" , style:"height:80px;"%>
  </div>
</div>
