<body>
  <div class="user-greeting">
    <% if user_signed_in? %>
      <p>Welcome, <%= current_user.email %></p>

      <%= link_to 'Log out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }%>
             <%= link_to 'new flat', new_flat_path %>

    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> or
       <%= link_to 'Log in', new_user_session_path %>
    <% end %>
  </div>

  <div class="container">
    <h1>Flats:</h1>
    <div class="flats-grid">
      <% @flats.each do |flat| %>
        <div class="flat">
          <!-- Placeholder for flat image -->
          <!-- Replace with your actual image code -->
          <div class="flat-image">
            <!--%= image_tag("placeholder.jpg", alt: "Flat image") %-->
            <%= image_tag flat.picture ? flat.picture : "no_image.png" ,style: "width: 100px; height: 150px;" %>
          </div>
          <div class="flat-info">
            <h2><%= flat.name %></h2>
            <!-- Add more flat details you want to show here -->
            <%= link_to 'Show', flat_path(flat), class: 'flat-link' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="map">
      <p>Map showing pins for each flat</p>
      <!-- Placeholder for map - you will replace with actual map code -->
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
  <!-- Include your JavaScript file that initializes the map -->
</body>
