  <div class="user-greeting">
    <% if user_signed_in? %>
      <p>Welcome, <%= current_user.email %></p>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> or
      <%= link_to 'Log in', new_user_session_path %>
    <% end %>
  </div>

  <div class="container">
    <h1>AirbnbBrewTechMechanic</h1>
    <div class="d-flex">
      <div class="d-flex flex-column col-8">
        <h2>All Flats</h2>
        <% @flats.each do |flat| %>
          <div class="flat">
            <div class="flat-image">
              <% if flat.photo.attached?  %>
                <%= cl_image_tag flat.photo.key, crop: :fill %>
              <% else %>
                <%= image_tag "no_image.jpeg" %>
              <% end %>
            </div>
            <div class="flat-info">
              <h3><%= flat.name %></h3>
              <%= flat.address %>
              <%= link_to 'Show', flat_path(flat), class: 'flat-link' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex flex-column col-4">
        <h2>Map</h2>
        <div style="width: 100%; height: 300px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
       </div>
    </div>
  </div>
