<body>
  <div class="user-greeting">
    <% if user_signed_in? %>
      <p>Welcome, <%= current_user.email %></p>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> or
      <%= link_to 'Log in', new_user_session_path %>
    <% end %>
  </div>

  <div class="container">
    <h1>Flats</h1>
    <div class="flats-grid">
      <% @flats.each do |flat| %>
        <div class="flat">
          <!-- Placeholder for flat image -->
          <!-- Replace with your actual image code -->
          <div class="flat-image">
            <!--%= image_tag("no_image.jpg", alt: "Flat image") %-->
             <%= image_tag flat.pictures ? flat.pictures : "no_image.jpeg" %>
          </div>
          <div class="flat-info">
            <h2><%= flat.name %></h2>
            <!-- Add more flat details you want to show here -->
            <%= link_to 'Show', flat_path(flat), class: 'flat-link' %>
          </div>
        </div>
      <% end %>
    </div>

    <div style="width: 70%; height: 300px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>


  </div>
